*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.main {
    min-height: 660px;
    background-color: #F3EED9;
    padding: 200px 0;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.main-title {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: #824936;
    width: 62%;
}

.main-title,
.section-title {
    font-family: 'Playfair Display', serif;
}

.subtitle {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-weight: .75rem;
}

.section-title {
    font-size: 1.5rem;
}

.section-three {
    background-color: #222c2A;
}

.section-four {
    background-color: #824936;
}

.section-two .section-title {
    color:#824936;
    text-align: center;
}

.section-three .section-title,
.section-four .section-title {
    color: #F3EED9;
}

.section-three p,
.section-four p {
    color: white;
}

.section-two,
.section-three,
.section-four {
    padding: 50px 0;
}


