*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.header-title {
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
}

.header-title,
.section-title {
    font-family: 'Playfair Display', serif;
}

.subtitle {
    font-weight: 300;
    text-align: center;
}

.main-section-title {
    text-align: center;
}

.long-text {
    display: flex;
}