*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.hero {
    min-height: 600px;
    background-color: #F3EED9;
    padding: 200px 0;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.header-title {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: #824936;
    width: 62%;
}

.header-title,
.section-title {
    font-family: 'Playfair Display', serif;
}

.subtitle {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-weight: .75rem;
}

.main-section-title {
    text-align: center;
    color: #824936;
}

.section-title {
    font-size: 1.5rem;
}

.long-text {
    display: flex;
    justify-content: space-between;
}

.long-text p {
    width: 45%;
}

.text-pic-set {
    display: flex;
    justify-content: space-between;
}

.short-text {
    width: 42%;
}

